<script src="../../../js/cdn/ejs.min.js"></script>
<!-- <script src="js/cdn/ejs.min.js"></script> prod -->

<div class="container" >
    <div class="a" style="overflow: auto; max-width: 100%;">
        <div>
            <ul id="item_list" onclick="el_click(event.target);  ">
            </ul>
        </div>
    </div>
    <div class="b"></div>
    <div class="header">Items</div>
    <div class="header1">Your items</div>
    <div class="header2">Description</div>
<div class="c"><button onclick="item_list.insertAdjacentHTML('afterbegin','<li>New el</li>');">Add</button>
    <button onclick="parent_sub_on('map/last_bookmark');">Track bookmarks</button>
    <!-- <button onclick="window.parent.postMessage({gundelete: 'items/bookmarks'},'https://maygame.xxx')">Clear bookmarks:</button> -->
</div>
<div class="d">Content d</div>
<div class="footer"><button onclick="item_list.innerHTML=ejs.render(items.template, items.list)">Populate</button></div>
<div style="background-color: red;">Not in grid</div>
</div>
<style>
.container{
    display: grid;
    grid-template-rows: auto auto 1fr 0.3fr auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "header1 header2"
    "a b"
    "c d"
    "footer footer";
    height: 500px;
    width: 500px;
}
.header{
    grid-area: header;
    background-color: pink;
}
.header2{
    grid-area: header2;
    background-color: palevioletred;
}
.header1{
    grid-area: header1;
    background-color: palegreen;
}
.a{
    grid-area: a;
    background-color: seagreen;
}
.b{
    grid-area: b;
    background-color: turquoise;
}
.c{
    grid-area: c;
    background-color: seagreen;
}
.d{
    grid-area: d;
    background-color: seagreen;
}
.footer{
    grid-area: footer;
    background-color: rebeccapurple;
}
</style>
<script>
var items={}
items.template=`
<% Object.keys(items.list).forEach(key=> { %>
<li>ID: <a><%= items.list[key].id %></a> Name:<a><%= key %></a></li>
<% }) %>

`
items.list={'Coin':{ id: '000001', img_url: '../resources/Coin_03.png'},'2':{id: '000002'}}
function el_click(el){
    if(el.nodeName!='LI'){
        console.log(el, el.parentElement)
        el=el.parentElement;
    }
    let name = el.children[1].innerText
    document.getElementsByClassName('b')[0].innerHTML='<img src="' +items.list[name].img_url+'">'+"<br>ID"+items.list[name].id+
    " name: " + name;
}
function parent_sub_on(soul){
    let msg={gun_sub: soul};
    my_subs[soul]=true;
    window.parent.postMessage(msg, "https://maygame.xxx");
    //extra code to remember it on this page
}
function parent_ask_once(soul){
    let msg={gun_once: soul};
    window.parent.postMessage(msg, "https://maygame.xxx");
}
window.onmessage=(e)=>{
    console.log(e.data);
    if(e.data['your_topic_pub']){
        console.log('items onmessage bookmark: ',e.data)
        if(e.data.soul=='map/last_bookmark'){
            console.log('items processing bookmark');
            let bm = e.data['your_topic_pub']
            console.log(bm.time)
        }
    }
    else if(e.data.login){
        parent_sub_on('map/last_bookmark');//dev   
        console.log('items got login')
    }
}
var my_subs={}
</script>