<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>MayGame</title>
  <meta name="description" content="No description">
  <meta name="author" content="Some dude">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- #region -->
  <!-- <script id="gun_cdn_script" src="https://cdn.jsdelivr.net/npm/gun/gun.js"></script>
  <script id="sea_cdn_script" src="https://cdn.jsdelivr.net/npm/gun/sea.js"></script> -->
  <script id="wsjs_innerscript" src="js/core/wsjs.js"></script>
  <link id="css_styles_core" rel="stylesheet" href="css/styles.css" />
  <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
</head>
<body>
<style>
        iframe{
            /* position: absolute; */
            z-index: 0;
            display: block;
            width: 100%;
            border: none;
            overflow-y: auto;
            overflow-x: hidden;
        }
        /* html 
{
 overflow: auto;
} */
 
html, body, iframe 
{
 margin: 0px; 
 padding: 0px; 
 height: 100vh; 
 width: 100vw;
 border: none;
 overflow: hidden;
}
</style>
<div id="menu" style="position: fixed; z-index: 2147483210; bottom: 0;">
    <button onclick="toggle(quests_layer)">Quests</button>
    <button onclick="toggle(profile_layer)">Profile</button>
    <button onclick="toggle_pevents(frame_hud)">Hud</button>
    <button onclick="toggle(curr_layer)">Currencies</button>
    <button onclick="toggle(test_layer)">Test</button>
    <br>
    <input type="text" value="">
    <button onclick="window.frames.test.postMessage('Lunar blessings to you all!','https://maygame.xxx')">Send test message</button>
    <div id="message_div"></div>
</div>
    <br>
<div id="quests_layer" class="layer" style="display: none; ">
    <iframe name="quests" src="<%= quests_url %>" id="frame_quests" style="border: 0; width: 100%; height: 100%"></iframe>
</div></div>
<div id="hud_layer" class="layer">
    <iframe name="hud" src="<%= hud_url %>" id="frame_hud" style="border: 0; width: 100%; height: 100%"></iframe>
</div>
<div id="profile_layer" class="layer" style="display: none;">
    <iframe name="profile" src="<%= profile_url %>" id="frame_profile" style="border: 0; width: 100%; height: 100%"></iframe>
</div>
<div id="curr_layer" class="layer" style="display: none;">
    <iframe name="currencies" src="<%= currency_url %>" id="frame_profile" style="border: 0; width: 100%; height: 100%"></iframe>
</div>
<div id="test_layer" class="layer" style="display: none;">
    <iframe name="test" src="frames/test" id="frame_test" style="border: 0; width: 100%; height: 100%"></iframe>
</div>

<script defer id="js_init">

</script>
<script>
    window.onmessage=(e)=>{message_div.innerText=e.data; console.log(e.data)}

</script> 
<script>
    function toggle_pevents(target){
        if(target.style.pointerEvents=='none')
        target.style.pointerEvents='all'
        else target.style.pointerEvents = 'none'
    }
</script>
</body>
</html>